mat-card {
  margin: 5px;
  padding: 0% !important;
  width: 220px;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
  border-radius: 15px !important;
  position: relative;
  z-index: 20;
}

.dish-details {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

mat-card:hover {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5) !important;
}

.backdrop {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.btn-nav {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 10px;
  color: white;
}

.icon {
  width: 25px;
  height: 20px;
}

.filter {
  filter: brightness(0) invert(1);
}

.dish-details {
  color: white;
  padding: 20px;
  width: 100%;
  height: fit-content;
  min-height: 150px;
  background-image: linear-gradient(to top, rgb(0, 0, 0), black, black, black, rgba(0, 0, 0, 0));
}

.empty {
  min-height: 150px;
  height: auto;
}

.dish-name {
  font-size: 16px;
  font-weight: bold;
}

.dish-desc {
  font-size: 12px;
}

.highlight {
  background-color: yellow;
}
